<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initialscale=1.0">
  <title>ỨNG DỤNG QUẢN LÝ SÁCH</title>
  <th:block th:replace="~{layout::link-css}"></th:block>
  <th:block th:replace="~{layout::custom-css}"></th:block>
</head>
<body class="d-flex flex-column vh-100">
<th:block th:replace="~{layout::header}"></th:block>
<div class="container content">
  <div class="navbar-custom">
    <div class="container-fluid">
                <h1 class="navbar-brand-custom">
                    TRANG CHỦ ỨNG DỤNG QUẢN LÝ SÁCH - BookFelix
                </h1>
    </div>
  </div>
  <!-- Nội dung của bạn sẽ nằm ở đây -->
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>
